<form action="/lightsabers" class="new_lightsaber" id="new_lightsaber" method="post">
  <label for="lightsaber_owner">Owner</label>:
  <input id="lightsaber_owner" name="lightsaber[owner]" type="text" /><br />

  <label for="lightsaber_color">Color</label>:
  <input id="lightsaber_color" name="lightsaber[color]" type="text" /><br />

  <input name="commit" type="submit" value="Create Lightsaber" />
</form>

<% if @lightsaber.errors.any? %>
  <div class= "error_explanation">
    <ul>
    <% @lightsaber.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
